body {
  border-style: solid;
  font-family: verdana;
  background: #ffeead;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  background: #88d8b0;
  text-align: center;
}

div {
  display: flex;
  flex-grow: 1;
}

a {
  flex-grow: 1;
  justify-content: space-around;
  text-decoration: none;
  color: #ffcc5c;
}

p {
  background: #88d8b0;
  padding: 5px;
}

.navbutton {
  transition: all 0.7s;
}

.navbutton_child {
  position: absolute;
}

.navbutton:hover {
  background: black;
  color: white;
}
