nav {
  display: flex;
  align-items: center;
  background: #88d8b0;
}

div {
  display: flex;
  flex-grow: 1;
}

p {
  flex-grow: 1;
  background: red;
  padding: 5px;
  justify-content: space-around;
}
